<h2>Welcome <%= current_user.name %></h2>
<h3>Pending Surveys</h3>
<ul class="pending-surveys">
  <% pending_surveys.each do |survey| %>
    <li><a href="/surveys/<%= survey.survey.id %>"><%= survey.survey.title %></a></li>
  <% end %>


</ul>
<h3>Completed Surveys</h3>
<ul class="completed-surveys">
  <% completed_surveys.each do |survey| %>
    <li><a href="/surveys/<%= survey.survey.id %>"><%= survey.survey.title %></a></li>
  <% end %>

</ul>
<h3>Surveys that I have created</h3>
<ul class="created-surveys">
  <% current_user.surveys.each do |survey| %>
    <li><a href="/surveys/<%= survey.id %>"><%= survey.title %></a></li>
  <% end %>
</ul>
