<script language="javascript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js"></script>
<script language="javascript" type="text/javascript" src="/js/jquery.flot.animator.js"></script>
<script language="javascript" type="text/javascript" src="/js/graph.js"></script>

<div class="panel panel-default center">
  <h3>Survey Results</h3>
  <div class='btn-invite-user'>
    <a class="btn btn-warning" href="/surveys/<%=survey.id%>/invite_user">Invite Users</a>
    <a class="btn btn-warning" href="/surveys/<%=survey.id%>/edit">Edit</a>
    <a class="btn btn-warning" href="/surveys/<%=survey.id%>/delete">Delete</a>
  </div>
</div>
<% survey.questions.each_with_index do |q,index| %>
  <div class = "graph-animate">
    <h4 class = "center"><%= q.question %></h4>
    <div class="center graph-item" id="graph<%= index %>" survey-id="<%= survey.id %>"></div>
    </div>
<% end %>

