<!-- When is this page ever being displayed? (Dora) right now dashboard redirects to summary or results -->

<div class="col-md-3"></div>
<div class="col-md-6">
  <h1><%= survey.title %></h1>
  <form action="/surveys/<%=survey.id%>/fill_out" method="post">
    <% survey.questions.each do |question| %>
      <div class="question">
        <% question %>
        <%= erb :"surveys/_question", locals: {question: question}, layout: false %>
      </div>
    <% end %>
    <input type="submit" name="submit"/>
  </form>
</div>
<div class="col-md-3"></div>

<div>
  <a href="/surveys/<%=survey.id%>/invite_user">Invite Users</a>
  <a href="/surveys/<%=survey.id%>/edit">Edit</a>
  <a href="/surveys/<%=survey.id%>/edit">Delete</a>
</div>